body{
	background-color: rgb(63, 57, 57);
	color: rgb(171, 69, 69);
}
h1,h2{
	text-align: right;
	color: rgb(144, 20, 20);
	font-family: Arial;
}
p{
	text-align: right;
}
em{
	color: rgb(18, 183, 18);
}

@media print{
body{
	background-color: rgb(235, 170, 170);
	color: rgb(51, 32, 32);
}
}