   body {
    background: rgb(69, 43, 43); /* Цвет фона */
    color: white; /* Цвет текста */
    text-align: right;
   }
   h1, h2, h3, h4, h5, h6 { 
    font-family:"Arial Cyr",Geneva,Helvetica,sans-serif;
    color: rgb(94, 16, 16); 
    text-align: right;
  }
  em {
  	color: rgb(208, 232, 208);
  }